/* TT-Interphases Pro */
@font-face {
  font-family: "TT-Interphases";
  src: url(../External-Resources/TT-Interphases-Pro/Thin.ttf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "TT-Interphases";
  src: url(../External-Resources/TT-Interphases-Pro/Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "TT-Interphases";
  src: url(../External-Resources/TT-Interphases-Pro/Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TT-Interphases";
  src: url(../External-Resources/TT-Interphases-Pro/Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "TT-Interphases";
  src: url(../External-Resources/TT-Interphases-Pro/Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "TT-Interphases";
  font-weight: 700;
  font-style: normal;
}

p {
  font-family: "TT-Interphases";
  font-weight: 400;
  font-style: normal;
}

/* TT-Interphases Pro MONO */
@font-face {
  font-family: "TT-Pro-Mono";
  src: url(../External-Resources/Pro-Mono/Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT-Pro-Mono";
  src: url(../External-Resources/Pro-Mono/Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
a,
span {
  font-family: "TT-Pro-Mono";
  font-weight: 400;
  font-style: normal;
}
a {
  color: rgb(140, 255, 235);
}
/* Color Variables */

/* Styling */
body {
  color: white;
  background-color: black;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}

.head-navigation {
  padding: 5px 0%;
  gap: 10px;
  font-size: 20px;
}

.nav-right {
  float: inline-end;
}

.nav-logo {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

#timeEl {
  margin: 0px;
}

/* Want to use these to animate C and V to spell out Curriculum Vitae */
#cV {
  display: inline;
}
#vC {
  display: inline;
}

.hero {
  height: 600px;
}
