#intro-head {
  font-size: 68pt;
  margin: 0rem;
}

#intro-text {
  text-align: center;
  font-size: 13pt;
  font-family: "TT-Pro-Mono";
  font-weight: 400;
  font-style: normal;
}

#browseLinks {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-align: right;
}

#faceSquare {
  background-color: red;
  width: 50px;
  height: 50px;
}

#starField {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
}

.project-li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-li > h2 {
  font-size: 32pt;
}

.smallStars {
  color: white;
}
