#intro-head {
  font-size: 68pt;
  margin: 0rem;
}

#intro-text {
  text-align: center;
  font-size: 13pt;
  margin: 0.5em;
  font-family: "TT-Pro-Mono";
  font-weight: 400;
  font-style: normal;
}

#browseLinks {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-align: right;
}

#starField {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
  margin: 6em;
}

.project-li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.project-li > h2 {
  font-size: 28pt;
}

.smallStars {
  color: white;
}

.project-grid {
  display: grid;
  gap: 10px 50px;
  grid-template-columns: 1fr 40% 1fr;
  align-items: center;
  margin-bottom: 5em;
}
.project-grid > div {
  display: flex;
  flex-direction: column;
}

.project-grid > div > h2 {
  font-size: 24pt;
  font-weight: 600;
}
#rcSVG {
  grid-row: 1;
  grid-column: 3;
}
#crudSVG {
  grid-row: 3;
  grid-column: 3;
}
#jkpgSVG {
  grid-row: 5;
  grid-column: 3;
}

.project-arrow-path-style {
  fill: none;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 13;
  stroke-dasharray: none;
  stroke-opacity: 1;
}
.project-arrow-path-style:hover {
  stroke: rgb(140, 255, 235);
  cursor: pointer;
}

.image-container {
  max-width: 100%;
  width: auto;
  aspect-ratio: 9/5;
  height: auto;
  background-size: 100% 100%;
  background-image: url("External-Resources/ruthlessCowboyScreenShot.jpg");
}

#timeIsMoney {
  text-decoration: none;
  font-size: 20px;
}
